<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form>

      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-bandcamp"></i> Calibragens Balanças
          </h2>
        </div>
      </div>


      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
            <label class="control-label" >Funcionário:</label>
            <input  type="text" class="form-control" placeholder="Funcionário">
          </div>
        </div>

        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
            <label class="control-label" >Balança:</label>
            <input  type="text" class="form-control" placeholder="Balança">
          </div>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-3 col-xs-3">
          <div class="form-group">
            <label class="control-label" >Peso Padrão 10 Kg:</label>
            <input  type="text" class="form-control" placeholder="Peso">
          </div>
        </div>

        <div class="col-sm-3 col-xs-3">
          <div class="form-group">
            <label class="control-label" >Peso Padrão 7,5 Kg:</label>
            <input  type="text" class="form-control" placeholder="Peso">
          </div>
        </div>

        <div class="col-sm-3 col-xs-3">
          <div class="form-group">
            <label class="control-label" >Peso Padrão 5 Kg:</label>
            <input  type="text" class="form-control" placeholder="Peso">
          </div>
        </div>

        <div class="col-sm-3 col-xs-3">
          <div class="form-group">
            <label class="control-label" >Peso Padrão 2,5 Kg:</label>
            <input  type="text" class="form-control" placeholder="Peso">
          </div>
        </div>

      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-3 col-xs-3">
          <div class="form-group">
          </div>
        </div>

        <div class="col-sm-3 col-xs-3">
          <div class="form-group">
            <label class="control-label esconder">&nbsp;</label>
            <button  type="button" class="form-control btn btn-info"> Limpar Campos </button>
          </div>
        </div>

        <div class="col-sm-3 col-xs-3">
          <div class="form-group">
            <label class="control-label esconder">&nbsp;</label>
            <button type="button" class="form-control btn btn-success">Salvar Produto</button>
          </div>
        </div>

      </div>


      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-xs-12 table-responsive">

          <table class="table table-striped ">
            <thead>
              <tr>
                <th style="width:30%">Funcionário</th>
                <th style="width:20%">Balança</th>
                <th style="width:10%">Peso 10 Kg</th>
                <th style="width:10%">Peso 7,5 Kg</th>
                <th style="width:10%">Peso 5 Kg</th>
                <th style="width:10%">Peso 2,5 Kg</th>
                <th style="width:10%">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center" style="width:30%"></td>
                <td class="text-right" style="width:20%"></td>
                <td class="text-right" style="width:10%"></td>
                <td class="text-right" style="width:10%"></td>
                <td class="text-right" style="width:10%"></td>
                <td class="text-right" style="width:10%"></td>
                <td class="text-right" style="width:10%">
                  <a class="btn btn-md btn-danger"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;
                  <a class="btn btn-md btn-primary"><i class="fa fa-pencil"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </form>
  </section>
</section>
