<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form>

      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-gear"></i> Amostras
          </h2>
        </div>
      </div>


      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" >Produto:</label>
            <input  type="text" class="form-control" placeholder="Produto">
          </div>
        </div>

        <div class="col-sm-3 col-xs-6">
          <div class="form-group">
            <label class="control-label" >Validade:</label>
            <input  type="text" class="form-control" placeholder="Validade">
          </div>
        </div>

        <div class="col-sm-3 col-xs-6">
          <div class="form-group">
            <label class="control-label" >Tipo:</label>
            <input  type="text" class="form-control" placeholder="Tipo Produto">
          </div>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label" >Data de Fabricação:</label>
            <input  type="text" class="form-control" placeholder="Data de Fabricação">
          </div>
        </div>

        <div class="col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label" >Hora de Fabricação:</label>
            <input  type="text" class="form-control" placeholder="Hora de Fabricação">
          </div>
        </div>

        <div class="col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label" >Indentificação do Lote:</label>
            <input  type="text" class="form-control" placeholder="Lote">
          </div>
        </div>

      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-3 col-xs-6">
        </div>

        <div class="col-sm-3 col-xs-6">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <button  type="button" class="form-control btn btn-info"> Limpar Campos </button>
          </div>
        </div>

      <div class="col-sm-3 col-xs-6">
        <div class="form-group">
          <label class="control-label esconder">&nbsp;</label>
          <button type="button" class="form-control btn btn-success">Salvar Cargo</button>
        </div>
      </div>
    </div>

    <div class="row invoice-info">
      <div class="col-xs-12">
        <p class="lead"></p>
      </div>

      <div class="col-xs-12 table-responsive">

        <table class="table table-striped ">
          <thead>
            <tr>
              <th style="width:50%">Produto</th>
              <th style="width:20%">Data</th>
              <th style="width:20%">Lote</th>
              <th style="width:10%">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-right" style="width:100%">
                <a class="btn btn-md btn-danger"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;
                <a class="btn btn-md btn-primary"><i class="fa fa-pencil"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </form>
</section>
</section>
