<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form [formGroup]="balancaForm">

      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-balance-scale"></i> Balança
          </h2>
        </div>
      </div>


      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <app-campos errorMessage="Campo Obrigatório" label="Equipamento:" >
            <input type="text" class="form-control" formControlName="equipamento" autocomplete="off">
          </app-campos>
        </div>

        <div class="col-sm-3 col-xs-6">
          <app-campos errorMessage="Campo Obrigatório" label="Identificação: " >
            <input type="text" class="form-control" formControlName="identificacao" autocomplete="off">
          </app-campos>
        </div>

        <div class="col-sm-3 col-xs-6">
          <app-campos errorMessage="Campo Obrigatório" label="Modelo:" >
            <input type="text" class="form-control" formControlName="modelo" autocomplete="off">
          </app-campos>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <app-campos errorMessage="Campo Obrigatório" label="Marca:" >
            <input type="text" class="form-control" formControlName="marca" autocomplete="off">
          </app-campos>
        </div>


        <div class="col-sm-3 col-xs-6">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <button  type="button" class="form-control btn btn-info" (click)="limparCampos()"> Limpar Campos </button>
          </div>
        </div>

        <div class="col-sm-3 col-xs-6">
          <div class="form-group">
            <label class="control-label esconder">&nbsp;</label>
            <button  type="button" class="form-control btn btn-success"
              [disabled]="!balancaForm.valid"
              (click)="onSubmit(balancaForm.value)"> Salvar
            </button>
          </div>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-xs-12 table-responsive">

          <table class="table table-striped ">
            <thead>
              <tr>
                <th style="width:30%">Equipamento</th>
                <th style="width:30%">Marca</th>
                <th style="width:25%">Modelo</th>
                <th style="width:15%">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let balanca of balancas">
                <td style="width:30%"> {{ balanca.equipamento }} </td>
                <td style="width:30%"> {{ balanca.marca }} </td>
                <td style="width:25%"> {{ balanca.modelo }} </td>
                <td class="text-right" style="width:15%">
                    <button class="btn btn-md btn-danger" (click)="removeBalanca(balanca)"><i class="fa fa-trash" ></i></button>
                    &nbsp;&nbsp;
                    <button class="btn btn-md btn-primary" (click)="selectBalanca(balanca)"><i class="fa fa-pencil"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </form>
  </section>
</section>
