<<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form>

      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-cube"></i> Embalagem
          </h2>
        </div>
      </div>


      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" >Embalagem:</label>
            <input  type="text" class="form-control" placeholder="Embalagem">
          </div>
        </div>

        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
            <label class="control-label">Peso (Kg):</label>
            <input  type="text" class="form-control" placeholder="Identificação">
          </div>
        </div>
      </div>


      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="form-group">

          </div>
        </div>


        <div class="col-sm-3 col-xs-6">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <button  type="button" class="form-control btn btn-info"> Limpar Campos </button>
          </div>
        </div>

        <div class="col-sm-3 col-xs-6">
          <div class="form-group">
            <label class="control-label esconder">&nbsp;</label>
            <button type="button" class="form-control btn btn-success">Salvar Embalagem</button>
          </div>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-xs-12 table-responsive">

          <table class="table table-striped ">
            <thead>
              <tr>
                <th style="width:50%">Embalagems</th>
                <th style="width:40%">peso (Kg)</th>
                <th style="width:10%">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center" style="width:50%"></td>
                <td class="text-center" style="width:40%"></td>
                <td class="text-right" style="width:10%">
                  <a class="btn btn-md btn-danger"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;
                  <a class="btn btn-md btn-primary"><i class="fa fa-pencil"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </form>
  </section>
</section>
