<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form [formGroup]="embalagemForm" novalidate>

      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-cube"></i> Embalagem
          </h2>
        </div>
      </div>


      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-6 col-xs-12">
            <app-input errorMessage="Campo Obrigatório" label="Embalagem:" >
              <input type="text" class="form-control" formControlName="descricao" autocomplete="off">
            </app-input>
        </div>

        <div class="col-sm-6 col-xs-12">
            <app-input errorMessage="Campo Obrigatório" label="Peso:" >
              <input type="text" class="form-control" formControlName="peso" autocomplete="off">
            </app-input>
        </div>
      </div>


      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-3 col-xs-12">
          <div class="form-group">

          </div>
        </div>


        <div class="col-sm-3 col-xs-6">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <button  type="button" class="form-control btn btn-info" (click)="limparCampos()"> Limpar Campos </button>
          </div>
        </div>

        <div class="col-sm-3 col-xs-6">
          <div class="form-group">
            <label class="control-label esconder">&nbsp;</label>
            <button type="button" class="form-control btn btn-success" [disabled]="!cargoForm.valid" (click)="onSubmit(embalagemForm.value)">Salvar Embalagem</button>
          </div>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-xs-12 table-responsive">

          <!-- Tabela de embalagens-->

          <table class="table table-striped ">
            <thead>
              <tr>
                <th style="width:50%">Embalagems</th>
                <th style="width:40%">peso (Kg)</th>
                <th style="width:10%">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let embalagem of embalagens">
                <td style="width:50%">{{ embalagem.descricao }}</td>
                <td style="width:40%">{{ embalagem.peso }}</td>
                <td class="text-right" style="width:10%">
                  <a class="btn btn-md btn-danger"><i class="fa fa-trash" (click)="removeEmbalagem(embalagem)"></i></a>&nbsp;&nbsp;
                  <a class="btn btn-md btn-primary"><i class="fa fa-pencil" (click)="selectEmbalagem(embalagem)"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </form>
  </section>
</section>
