<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form [formGroup]="cargoForm" novalidate>

      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-gear"></i> Cargo
          </h2>
        </div>
      </div>


      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <app-input errorMessage="Campo Obrigatório" label="Cargo:" >
            <input type="text" class="form-control" formControlName="descricao" autocomplete="off">
          </app-input>

        </div>

        <div class="col-sm-3 col-xs-3">
          <div class="form-group">
            <label class="control-label esconder">&nbsp;</label>
            <button  type="button" class="form-control btn btn-info" (click)="limparCampos()"><span class="fa fa-times"></span> Limpar Campos </button>
          </div>
        </div>

        <div class="col-sm-3 col-xs-3">
          <div class="form-group">
            <label class="control-label esconder">&nbsp;</label>
            <button type="button" class="form-control btn btn-success" [disabled]="!cargoForm.valid" (click)="addCargo(cargoForm.value)"><span class="fa fa-floppy-o"></span> Salvar Cargo</button>
          </div>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <app-cargo-detalhes></app-cargo-detalhes>

      </div>

    </form>
  </section>
</section>
