<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form>

      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fas fa-user"></i> Funcionários
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label">Nome:</label>
            <input type="text" class="form-control" placeholder="Nome">
            <span class="help-block"></span>
          </div>
        </div>

        <div class="col-sm-3 col-xs-6">
          <div class="form-group">
            <label class="control-label" >Cargo:</label>
            <select class="form-control" placeholder="Cargo" name="cargo">
              <option value="Gerente Laboratório">Gerente Laboratório</option>
              <option value="Laraboratorista">Laraboratorista</option>
              <option value="Diretor">Diretor</option>
            </select>
            <span class="help-block"></span>
          </div>
        </div>

        <div class="col-sm-3 col-xs-6">
          <div class="form-group">
            <label class="control-label ">Data Admissão:</label>
            <input type="date" class="form-control" placeholder="Data Admissão">
            <span class="help-block"></span>
          </div>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="form-group">
            <label class="control-label">Status:</label>
            <select type="text" class="form-control" placeholder="Nome">
              <option value="1">Admitido</option>
              <option value="2">Desligado</option>
            </select>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="form-group">
            <label class="control-label">Data Saída:</label>
            <input type="date" class="form-control" placeholder="Data Demissão">
            <span class="help-block"></span>
          </div>
        </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
            <label class="control-label">Observações:</label>
            <textarea rows="3" class="form-control" placeholder="Observações"></textarea>
            <span class="help-block"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fas fa-user-lock"></i> Usuário
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="form-group">
            <label class="control-label">Usuário:</label>
            <input type="text" class="form-control" placeholder="Usuario">
            <span class="help-block"></span>
          </div>
        </div>

        <div class="col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label" >Senha:</label>
            <input  type="password" class="form-control" placeholder="Senha">
            <span class="help-block"></span>
          </div>
        </div>

        <div class="col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label">Confirmação:</label>
            <input type="password" class="form-control" placeholder="Senha">
            <span class="help-block"></span>
          </div>
        </div>

      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="form-group">
            <input type="checkbox" name="Bloqueado" value="bloqueado" class="">
            <label class="control-label"> Usuário bloqueado</label>
          </div>
        </div>

        <div class="col-sm-4 col-xs-6">
          <div class="form-group">
            <button  type="button" class="form-control btn btn-info"> Limpar Campos </button>
          </div>
        </div>

        <div class="col-sm-4 col-xs-6">
          <div class="form-group">
            <button type="button" class="form-control btn btn-success">Salvar Funcionário</button>
          </div>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead"></p>
        </div>

        <div class="col-xs-12 table-responsive">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Usuário</th>
                <th>Cargo</th>
                <th>Status</th>
                <th class="text-right">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center"></td>
                <td></td>

                <td></td>
                <td></td>
                <td class="text-right">
                  <a class="btn btn-md btn-danger"><i class="fas fa-trash-alt"></i></a>&nbsp;&nbsp;
                  <a class="btn btn-md btn-primary"><i class="fas fa-pencil-alt"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </form>
  </section>
</section>
